sudo: false
cache: bundler
language: ruby
env:
  global:
    - secure: bj789VwIKz0ZdQpwEMvxTWwESmIJ3l7k1GQSi46C9QFM9DDHl480e7plEHGJnzwRbU9AQ8YGNuecfVWGdQeOckC3HKs2hyPbeAErVUBk/XkXJptt/q74HpBBKM1iWJ1ABHeHjzz49w5oq1Or7kdBZb+o6/hQxHoppsIR7Qy4b4ae7fgFzOSaj3oJj/FVAgBSfh5nwMwczE3m89efY4kNznmfARCRZDBik4LqR0AZDnnuNPS41eRHFTRc+KRAXcTnEypT2o56yzmJrilBh/1wgG7HDC7PQRP2Y0F/e48OGXyHJ55FCYN3lbnmDpktoV08DtG5Ai0cFu5zv+SHhOd14sDGDmBZUePZt0teX6k4ieur5z7zFU+f0nHzIWr2d+Fe5eQ5oaM19nO/OgnVhy+MD1m4f2Ri4nQIHWTwspB9IcmIW5h7DeRnhb50+xndK7FfKXit/sxxluZGC9Mhitgch5Sjpddm+r6MV63UgymqIO5mi3fWsfI5TVlNPf+toi8VScL2sRXVBFodBsAGIu3pX30l8n+l5XwaArELle++NIqeycc74ftqvIuH1BVXyQOyFqDipGpBEZsf0XNXEO9zJ2z2GaWuZYvDHknZ/JF+lCft4ucBRt75hKRbCXFD5JuM4GmeSQ6KjCrwzVF6qTuPukfpHXlZ2dISrFqqQIon0Ls="
before_install:
  - 'if [[ $BUNDLE_GEMFILE == *master.gemfile ]]; then gem update --system; fi'
  - gem --version
  - gem install bundler
  - bundle --version
  - 'bundle config --local path ${BUNDLE_PATH:-$(dirname $BUNDLE_GEMFILE)/vendor/bundle}'
  - bundle config --local bin $PWD/bin
install: bundle update --jobs=3 --retry=3
script:
  - ./bin/rake travis
matrix:
  include:
    - rvm: 2.3.1
      gemfile: test/gemfiles/chef-12.gemfile
    - rvm: 2.4.1
      gemfile: test/gemfiles/chef-13.gemfile
    - rvm: 2.1.4
      gemfile: test/gemfiles/chef-12.1.gemfile
    - rvm: 2.1.4
      gemfile: test/gemfiles/chef-12.2.gemfile
    - rvm: 2.1.4
      gemfile: test/gemfiles/chef-12.3.gemfile
    - rvm: 2.1.6
      gemfile: test/gemfiles/chef-12.4.gemfile
    - rvm: 2.1.6
      gemfile: test/gemfiles/chef-12.5.gemfile
    - rvm: 2.1.6
      gemfile: test/gemfiles/chef-12.6.gemfile
    - rvm: 2.1.6
      gemfile: test/gemfiles/chef-12.7.gemfile
    - rvm: 2.1.6
      gemfile: test/gemfiles/chef-12.8.gemfile
    - rvm: 2.1.8
      gemfile: test/gemfiles/chef-12.9.gemfile
    - rvm: 2.1.8
      gemfile: test/gemfiles/chef-12.10.gemfile
    - rvm: 2.1.8
      gemfile: test/gemfiles/chef-12.11.gemfile
    - rvm: 2.1.8
      gemfile: test/gemfiles/chef-12.12.gemfile
    - rvm: 2.1.9
      gemfile: test/gemfiles/chef-12.13.gemfile
    - rvm: 2.3.1
      gemfile: test/gemfiles/chef-12.14.gemfile
    - rvm: 2.3.1
      gemfile: test/gemfiles/chef-12.15.gemfile
    - rvm: 2.3.1
      gemfile: test/gemfiles/chef-12.16.gemfile
    - rvm: 2.3.1
      gemfile: test/gemfiles/chef-12.17.gemfile
    - rvm: 2.3.1
      gemfile: test/gemfiles/chef-12.18.gemfile
    - rvm: 2.3.1
      gemfile: test/gemfiles/chef-12.19.gemfile
    - rvm: 2.4.1
      gemfile: test/gemfiles/chef-13.0.gemfile
    - rvm: 2.4.1
      gemfile: test/gemfiles/master.gemfile
